html, body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.headerTitle {
    font-size: 2em;
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
}

.sectionHeader {
    margin-top: 25px;
    margin-left: 205px;
}

.projectContainer {
    margin-left: 50px;
    margin-bottom: 50px;
    perspective: 800px;
    perspective-origin: 500px 400px;
}

.projectBlock {
}

.leftScreenshot {
    display: inline-block;
    transform: translateX(70px) rotateY(45deg) translateX(-70px);
}

.centerInfo {
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: darkgrey;
    width: 30em;
    transform: rotateY(0deg) translateZ(0px) translateX(0px);
}

.leftScreenshot img {
    height: 100px;
    width: 140px;
    margin: 5px;
}

.profileBox {
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: right;
}
.profileBox div {
    display: inline-block;
    text-decoration:inherit;
}

.profileBox div div {
    display: inline-block;
    text-decoration:inherit;
}
