html, body {
}

.projectContainer {
    margin-left: 5%;
    perspective: 800px;
    perspective-origin: center
}

.projectBlock {
}

.leftScreenshot {
    display: inline-block;
    transform: translateX(70px) rotateY(45deg) translateX(-70px);
}

.centerInfo {
    display: inline-block;
    vertical-align: top;
    transform: rotateY(0deg) translateZ(0px) translateX(0px);
}

.leftScreenshot img {
    height: 100px;
    width: 140px;    
}