html, body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.headerTitle {
    font-size: 2em;
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
}

.sectionHeader {
    margin-top: 25px;
    margin-left: 155px;
}

.projectContainer {
    margin-left: 20px;
    margin-bottom: 50px;
    
    -webkit-perspective-origin: 500px 800px;
    -moz-perspective-origin: 500px 800px;
    perspective-origin: 500px 800px;
    
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.projectBlock {
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    transform-style: inherit;
}

.leftScreenshot {
	display: inline-block;
	position: absolute;
    
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    transform-style: inherit;

    -moz-animation-name: turn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: turn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    animation-name: turn;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.leftScreenshot a { 
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    transform-style: inherit;
}

.leftScreenshot a img { 
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    transform-style: inherit;
}

.delay0 {
    -moz-animation-delay: 250ms;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.delay1 {
    -moz-animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.delay2 {
    -moz-animation-delay: 1000ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.delay3 {
    -moz-animation-delay: 1450ms;
    -webkit-animation-delay: 1450ms;
    animation-delay: 1450ms;
}

.delay4 {
    -moz-animation-delay: 1850ms;
    -webkit-animation-delay: 1850ms;
    animation-delay: 1850ms;
}

.delay5 {
    -moz-animation-delay: 2200ms;
    -webkit-animation-delay: 2200ms;
    animation-delay: 2200ms;
}

.delay6 {
    -moz-animation-delay: 2500ms;
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
}

.delay7 {
    -moz-animation-delay: 2750ms;
    -webkit-animation-delay: 2750ms;
    animation-delay: 2750ms;
}

.delay8 {
    -moz-animation-delay: 2950ms;
    -webkit-animation-delay: 2950ms;
    animation-delay: 2950ms;
}

.delay9 {
    -moz-animation-delay: 3100ms;
    -webkit-animation-delay: 3100ms;
    animation-delay: 3100ms;
}

.delay10 {
    -moz-animation-delay: 3200ms;
    -webkit-animation-delay: 3200ms;
    animation-delay: 3200ms;
}

.delay11 {
    -moz-animation-delay: 3300ms;
    -webkit-animation-delay: 3300ms;
    animation-delay: 3300ms;
}

.delay12 {
    -moz-animation-delay: 3400ms;
    -webkit-animation-delay: 3400ms;
    animation-delay: 3400ms;
}

.delay13 {
    -moz-animation-delay: 3500ms;
    -webkit-animation-delay: 3500ms;
    animation-delay: 3500ms;
}

.delay14 {
    -moz-animation-delay: 3600ms;
    -webkit-animation-delay: 3600ms;
    animation-delay: 3600ms;
}

@-moz-keyframes turn {
    0% {
        -moz-transform: translateX(70px) rotateY(0deg) translateX(-70px);
    }
    100% {
        -moz-transform: translateX(70px) rotateY(40deg) translateX(-70px);
    }
}
@-webkit-keyframes turn {
    0% {
        -webkit-transform: translateX(70px) rotateY(0deg) translateX(-70px);
    }
    100% {
        -webkit-transform: translateX(70px) rotateY(40deg) translateX(-70px);
    }
}
@keyframes turn {
    0% {
        transform: translateX(70px) rotateY(0deg) translateX(-70px);
    }
    100% {
        transform: translateX(70px) rotateY(40deg) translateX(-70px);
    }
}

.centerInfo {
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    margin: 5px;
    margin-left: 155px;
    padding: 10px;
    background-color: #F0F0F0;
    width: calc(100% - 200px);
    height: 80px;
    transform: rotateY(0deg) translateZ(0px) translateX(0px);
}

.leftScreenshot img {
    height: 100px;
    width: 140px;
    margin: 5px;
}

.profileBox {
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: right;
}
.profileBox div {
    display: inline-block;
    text-decoration:inherit;
}

.profileBox div div {
    display: inline-block;
    text-decoration:inherit;
}
